body {
    min-width: 370px;
}

.labelLiveMeasurementMode {
    margin: 6px .5em 8px 0;
}

/* #liveMeasurementAdvanced {
    height:40vh; 
    width:45vw;
}

@media (min-width: 992px) {
    #liveMeasurementAdvanced {
        width: 90vw;
    }
} */