body {
    min-width: 370px;
}

.labelLiveMeasurementMode {
    margin: 6px .5em 8px 0;
}

#liveMeasurementAdvanced {
    height:40vh; 
    width: 366px;
}

@media (min-width: 370px) {
    #liveMeasurementAdvanced {
        width:90vw;
    }
}

@media (min-width: 992px) {
    #liveMeasurementAdvanced {
        width:45vw;
    }
}