body {
    min-width: 390px;
}

 button#installButton, button#bntBLEConnect, button#bntBLEDisconnect, #bntModifyCancel, #bntModifyApply {
    width: 8em;
}

#divDeviceDetails > div > label {
    min-width: 130px;
}
.labelLiveMeasurementMode {
    margin: 6px .5em 8px 0;
}

div#liveMeasurementSimple {
    height: 60vh;
} 

div#liveMeasurementAdvanced {
    height: 60vh; 
    width: 350px;
}

@media (min-width: 390px) {
    div#liveMeasurementSimple {
        height: 60vh;
    } 
    
    div#liveMeasurementAdvanced {
        height: 60vh;
        width: 90vw;
    }
}

@media (min-width: 1210px) {
    div#liveMeasurementSimple {
        height: 40vh;
    } 

    div#liveMeasurementAdvanced {
        height: 40vh;
        width: 45vw;
    }
}